* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'DM Sans', sans-serif;
}

/* Reset CSS */
a {
	/* 글자색: 부모의 color 상속받기 */
	color: inherit; 
	/* 밑줄 없애기: border-bottom이 아니라 text-decoration */
	text-decoration: none;
}

/* body의 font-family가 잘 안 먹는 요소들 font 따로 주기 */
button,
input,
textarea {
	font-family: 'DM Sans', sans-serif;
	/* button, input, textarea는 기본 font-size가 11px로 아주 작음
		=> a 태그의 기본 font-size와 동일한 16px로 변경 */
	font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
	/* 요소 활성화 시 주변에 생기는 테두리 제거 */
	outline: none;
	/* 좀 더 확실하게 제거 */
	box-shadow: none;
}

ul,
ol,
li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* 본문 폰트는 보통 p 태그의 font-size를 기준으로 함
		(p 태그들의 css들은 보통 똑같게 적용되는 경우가 많아서) */
p {
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	color: #2B292D;
	letter-spacing: -0.01em; /* 1% */
}

/* global 하게 사용될 버튼은 landing-button 대신 fill-button 등으로 작명 */
.fill-button {
	/* inline 성격을 가진 flex */
	display: inline-flex;
	justify-content: center;
	align-items: center;

	width: 140px;
	height: 48px;
	border-radius: 2px;
	background-color: #3040C4;
	color: #fff;
	
	/* 버튼 안에 들어가는 글자도 button css 내에서 처리 */
	font-size: 15px;
	font-weight: 700;
	line-height: 1.6;
	letter-spacing: -0.05em;

	/* transition으로 바뀔 속성 = opacity */
	/* 마우스 올릴 때 효과가 부드럽게 나타나게 */
	transition: opacity 300ms ease-in-out;
}

.fill-button:hover {
	color: #fff;
	/* 마우스 올릴 때 투명도 옅어지는 효과 */
	opacity: 0.5;
}

/* fill-button이자 inverted인 태그 */
/* fill-button에서 바뀌는 부분만 선언  */
.fill-button.inverted {
	background-color: #fff;
	color: #3040C4;
}

.fill-button.inverted:hover {
	color: #3040C4;
}


/* (모바일이 기본이므로, 처음에 만들 때 데스크탑 크기는 전혀 신경쓰지 말기) */
/* 모바일 작업화면 확인할 때는 개발자도구 상단의 'Toggle device toolbar' 활용 */


/* 공통 모듈 */
/* (program 파트와 curriculum 파트에서 공통으로 쓰임) */
.section {
	padding: 80px 0;
}

/* program, curriculum 텍스트 */
.section-category {
	/* strong이라 inline이어서 margin 주려면 display: block 필요 */
	display: block;
	margin-bottom: 8px;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	letter-spacing: -0.01em;
}

.section-title {
	margin-bottom: 24px;
	font-size: 34px;
	font-weight: 700;
	line-height: 1.0588235294; /* 36/34 */
	letter-spacing: -0.03em;
	color: #2B292D;
}


/* Landing Section */
/* (이 아래에는 Landing에 관련된 요소들만 배치 - global 파트는 따로 빼기) */

.landing {
	background-color: #FDDED8;
	/* 텍스트뿐만 아니라 button도 text-align으로 가운데정렬 가능 */
	text-align: center;
}

/* 320 x 568 : iPhone SE 사이즈 
	- landing 부분이 320px에 568px이므로 분홍 배경이 폰 사이즈 화면 전체라는 걸 알 수 있음*/
.landing-content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100vh;
}

.landing-title {
	margin-bottom: 24px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.05em;
	color: #2B292D;
}

.landing-desc {
	margin-bottom: 24px;
}

/* .button-wrapper처럼 흔한 클래스명은 앞에 부모 클래스를 명시 */
.landing .button-wrapper {
	/* 위에서 text-align으로 가운데정렬한 것은 button-wrapper 단위 */
	/* flex를 통해 button-wrapper 안의 요소들을 한번 더 정렬 */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 'landing의 button-wrapper 안에 들어있는 fill-button(2개) 중 첫번째 자식요소' */
/* = landing의 첫번째 파란 버튼 */
.landing .button-wrapper .fill-button:first-child {
	/* 흰 버튼과 사이 간격 띄움 */
	margin-right: 8px;
}


/* Service Section */

.service {
	background-color: #F4F5F7;
	padding: 80px 0;
}

.service .col-12:first-child {
	margin-bottom: 40px;
}

.service-title {
	margin-bottom: 16px;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.3636363636; /* 30/22 */
	letter-spacing: -0.04em;
	color: #2B292D;
}


/* Program Section */

.program .section-category {
	color: #009B4D;
}

/* program에 row 2개 - program 소개하는 텍스트와 이미지 박스 있는 부분 */
/* section-desc(p태그)보다 단위상 이렇게 잡는 게 의미적으로 더 맞음 */
.program .row:first-child {
	margin-bottom: 32px;
}

/* 각 카드는 col-md-4로도 잡을 수 있음 */
.program .col-md-4 {
	margin-bottom: 20px;
}

/* 맨 마지막 카드의 margin-bottom 제거 */
.program .col-md-4:last-child {
	margin-bottom: 0;
}

.program-card {
	display: block;
	padding: 24px 0 32px;
	border-radius: 8px;
	background: #fff;
	text-align: center;

	/* figma 창 크게 해서 아래 code로 가면 코드 있음 */
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
	0px 4px 6px rgba(0, 0, 0, 0.05),
	inset 0px 1px 0px rgba(255, 255, 255, 0.1);

	/* hover 시 바뀌는 효과를 좀 더 부드럽게 처리
		(program-card에 hover 효과가 있다면 transition은
		program-card에 줘야 한다. */
		transition: background-color 300ms ease-in-out,
		box-shadow 300ms ease-in-out;
}

/* 각 카드에 마우스 hover 시 배경색이 파란색, 글자색이 흰색으로 바뀌며
	box-shadow가 더 짙어짐 */
.program-card:hover {
	background-color: #3141C5;
	box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
	0px 11px 55px rgba(0, 0, 0, 0.07);
}

/* strong은 가리키는 태그가 따로 있으니 따로 처리해주기 */
.program-card:hover strong {
	color: #fff;
}

.program-card img {
	/* img는 inline이므로 margin이나 width 주려면 display: block 필요 */
	display: block;
	width: auto;
	height: 195px;
	/* 0 auto - 이미지 가운데 정렬 */
	/* display: flex와 다르게 margin: 0 auto는 실제 가운데정렬 하려는 요소 자체에 줘야 */
	margin: 0 auto 16px;
}

.program-card strong {
	font-size: 18px;
	line-height: 1.3333333333; /* 24/18 */
	letter-spacing: -0.02em;

	/* strong이 바뀌는 효과를 더 부드럽게 */
	transition: color 300ms ease-in-out;
}

/* >= 768px (Desktop) */
/* final 프로젝트 가이드라인: '모바일 시안과 데스크탑 시안의 중단점(Breakpoint)은 768px' */
/* (중단점: 화면을 늘이거나 줄일 때 모바일에서 데스크탑으로 변하는 시점) */

/* ** 모바일에서 데스크탑으로 전환할 때 바뀌는 부분만 작성 */
/* 화면이 768px 이상일 때는 Desktop의 p 태그 사이즈로 */
@media screen and (min-width: 768px) {
	/* Reset CSS */
	p {
		font-size: 22px;
		line-height: 32/22; /* 1.4545454545 */
	}

	.fill-button {
		width: 160px;
		height: 56px;
		font-size: 18px;
		line-height: 1.5555555556; /* 28/18 */
	}

	.section {
		padding-bottom: 96px;
	}

	.section-category {
		margin-bottom: 16px;
		font-size: 22px;
		line-height: 1.0909090909; /* 24/22 */
	}

	.section-title {
		margin-bottom: 32px;
		font-size: 56px;
		line-height: 1;
	}


	/* Landing */
	.landing-content {
		/* 데스크탑에서는 모바일처럼 분홍색 부분의 height가 100vh(화면전체)일 필요가 없음 */
		height: auto; /* auto를 써주면 기존 효과 무효화 */
		padding: 120px 0; 
	}

	.landing-title {
		margin-bottom: 32px;
		font-size: 70px;
		line-height: 1.0285714286; /* 72/70 */
	}

	.landing-desc {
		margin-bottom: 32px;
	}

	.landing .button-wrapper .fill-button:first-child {
		margin-right: 16px;
	}


	/* Service */

	/* service 부분은 모바일 상 landing 화면에서 스크롤을 내려 볼 수 있는 화면이므로 
		height: 100vh 안 맞춰도 됨 */
	.service .col-12:first-child {
		/* 기존에 모바일에서 있었던 margin-bottom을 0으로 만들어 제거 */
		margin-bottom: 0;
	}
	
	.service-title {
		font-size: 26px;
		line-height: 1.3076923077; /* 34/26 */
	}


	/* Program */
	.program {
		text-align: center;
	}

	.program .row:first-child {
		margin-bottom: 72px;
	}

	.program-card img {
		margin-bottom: 24px;
	}

	.program-card strong {
		font-size: 20px;
		line-height: 1.2; /* 24/20 */
	}


}

/* Custom Grid System - Fix container width */
/* 화면 사이즈가 1200px 이상일 때 */
@media screen and (min-width: 1200px) {
	/* container의 최대 사이즈는 960px (960px 이상으로 안 커지게) */
	.container {
		max-width: 960px !important;
	}
}
