.like-button {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	/* google fonts에서 import */
	font-family: "Poppins", sans-serif;
	letter-spacing: -0.015em;
	background-color: black;

	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	border: none;
}

/* 범용적으로 쓰이는 것일수록 위에 선언 */
.sr-only {
	/* 눈에 안 보이게는 하는데, 스크린리더도 못 읽음 */
	/* display: none; */

	/* 우리 눈에는 안 보이되, 스크린리더는 읽을 수 있게 */
	position: absolute; /* => 집 나간 아이로 만듦 (부모가 누군지 알 수도 없고, 영영 잃어버리는 상태) */
	z-index: -100;

	/* width와 height 둘 중 하나라도 0이면 
		display: none처럼 되어버려서 스크린리더가 읽어주지 않음 */
	width: 1px;
	height: 1px;

	/* 지정된 영역(1px)을 벗어나면 안 보이게 해주는 장치 */
	overflow: hidden;

	/* 투명도를 0으로 */
	opacity: 0;
	visibility: hidden;
}

.card {
	display: flex;
	width: 840px;
	padding: 24px;
	background: #FFFFFF;
}

.card-image {
	position: relative;
	width: 300px;
	height: 200px;
	border-radius: 6px;

	margin-right: 24px;
	overflow: hidden;
	
	background-image: url('./assets/img-house.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.card-image .like-button {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #fff;
	border: none;

	background-image: url('./assets/icon-favorite.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 24px 24px;

	cursor: pointer;

	/* 바로 위의 부모(card-image)에게 relative 주면 됨 */
	position: absolute;
	top: 12px;
	left: 12px;
}

.card-content {
	/* card-content에 width를 따로 주지 않았기 때문에
		card 레벨에서 flex를 주면 가장 길이가 긴 card-title까지만 자동으로 width가 잡힘
		=> 이것 말고, 카드가 커질수록 content의 크기를 키우고 싶다면 flex-grow 사용 */
	/* 남는 영역이 있으면 그냥 두는 게 아니라 content가 차지할 수 있게 함 */
	flex-grow: 1;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
}

.plus-badge {
	font-size: 14px;
	line-height: 20/14; /* figma에 나와있는 line-height에서 font-size 값을 나눠준다. */
	color: #fff;
	background-color: #92174D;
	font-weight: 500;

	/* inline-block: 옆에 다른 요소 둘 수 있고, padding margin 등도 줄 수 있음 */
	display: inline-block;
	padding: 1px 8px;
	margin-right: 4px;

	border-radius: 4px;
	text-transform: uppercase;
}

span {
	color: #7D858F;
	font-size: 16px;
	line-height: 20/16;
}

/* 4.97 옆의 별모양 */
/* .property-rate의 맨 첫번째 자리 */
.property-rate::before {
	content: '';
	/* 사이즈를 잡아줘야 하므로 block 속성 추가 */
	display: inline-block;

	width: 16px;
	height: 16px;

	background-image: url('assets/icon-star.svg');
	background-repeat: no-repeat;
	background-position: center center;
	/* 지정된 영역 안에 이미지가 안 잘리고 딱 맞게 들어가야 함 */
	background-size: contain; 

	/* 별이 살짝 위로 올라간 거 수정 */
	position: relative; /* 주변요소에 영향 안 받고 해당 요소만 움직일 수 있음 */
	top: 1.25px;
}

/* 4.97 */
.property-rate strong {
	font-weight: 400;
	font-size: 16px;
	color: #151B26;
}

.card-title {
	font-size: 20px;
	font-weight: 400;
	line-height: 32/20; /* 1.6 */
	color: #151B26;
	margin-bottom: 16px;
}

.property-detail {
	font-size: 14px;
	line-height: 16/14;
	color: #7D858F;
}

/* 2 bedroom 옆의 가운데 점 */
.property-detail dd span::after {
	content: '·';
	/* inline 요소의 경우 margin을 위아래는 줄 수 없지만 좌우는 줄 수 있음
		(margin 자체가 안 되는 게 아님!) */
	margin: 0 8px;
}

/* 맨 마지막 가운데 점 지워주기 */
.property-detail dd span:last-child:after {
	content: '';
	margin: 0;
}

.property-detail div:first-child {
	margin-bottom: 8px;
}